@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');



html {
    overflow: scroll; 
}


h1, h2, h3 {
    font-family: "Raleway", sans-serif;
    font-weight: 380;
}


/*
----------------
--    MAIN    --
----------------
*/


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
    /* padding: 80px; */
}

main > section {
    border: 2px solid greenyellow;
    /* margin: 80px 0px 80px 0; */
    height: 100vh;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}


/* ----- SEÇÃO 1: INTRO ----- */

#hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
}


#hero-section > #title {
    font-size: 4rem;
}

/* ----- SEÇÃO 2: SOBRE ----- */



#about > div {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

#about > div > img {
    width: 400px;
    aspect-ratio: 1/1;
    
    border-radius: 12px;
    margin: 20px;
}

.txt_sobre {
    display: flex;
    flex-direction: column;
    align-items: baseline;

    min-width: 20px;
    width: 400px;
    
    padding: 20px;
    margin: 20px;

    border: 2px solid var(--offwhite);
    border-radius: 8px;
    font-size: large;
}

/* ----- SEÇÃO 3: PROJETOS ----- */

.projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

/* ----- SEÇÃO 4: CONTATOS ----- */

.contatos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: visible;    
}



.links {
    display: flex;
    flex-flow: row wrap;
    
    justify-content: center;
    align-items: center;
}

.links > div {
    display: flex;
    align-content: space-between;
    flex-direction: column;
}

.links > div > span > *{
    display: flex;
    flex-direction: row;
    align-items: center;

    font-weight: bold;

    height: 50px;

    border-radius: 5px;
    margin: 5px;
    padding: 0 5px 0 5px;
    overflow: hidden;
}


.icon {
    width: 40px;
    margin-right: 10px;
}

/* ----- FIM DA MAIN ----- */


/*
----------------
--   FOOTER   --
----------------
*/

footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    background-color: var(--primary);
    
    padding: 50px 0 50px 0;
    margin: 0;
}

footer * {
    color: var(--background);

}
