@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Syne+Mono&display=swap');
 

:root {
    color-scheme: dark;
    --text: hsl(86, 75%, 92%);
    --background: hsl(84, 73%, 7%);
    --primary: hsl(89, 74%, 71%);
    --secondary: hsl(166, 74%, 31%);
    --accent: hsl(186, 74%, 51%);

    --text-50: hsl(85, 76%, 95%);
    --text-100: hsl(86, 76%, 90%);
    --text-200: hsl(86, 75%, 80%);
    --text-300: hsl(86, 75%, 70%);
    --text-400: hsl(86, 75%, 60%);
    --text-500: hsl(86, 75%, 50%);
    --text-600: hsl(86, 75%, 40%);
    --text-700: hsl(86, 75%, 30%);
    --text-800: hsl(86, 75%, 20%);
    --text-900: hsl(86, 76%, 10%);
    --text-950: hsl(85, 76%, 5%);

    --background-50: hsl(85, 76%, 95%);
    --background-100: hsl(84, 73%, 90%);
    --background-200: hsl(84, 73%, 80%);
    --background-300: hsl(84, 73%, 70%);
    --background-400: hsl(84, 73%, 60%);
    --background-500: hsl(84, 73%, 50%);
    --background-600: hsl(84, 73%, 40%);
    --background-700: hsl(84, 73%, 30%);
    --background-800: hsl(84, 73%, 20%);
    --background-900: hsl(84, 73%, 10%);
    --background-950: hsl(82, 76%, 5%);

    --primary-50: hsl(88, 76%, 95%);
    --primary-100: hsl(89, 73%, 90%);
    --primary-200: hsl(89, 75%, 80%);
    --primary-300: hsl(89, 74%, 70%);
    --primary-400: hsl(89, 74%, 60%);
    --primary-500: hsl(89, 74%, 50%);
    --primary-600: hsl(89, 74%, 40%);
    --primary-700: hsl(89, 74%, 30%);
    --primary-800: hsl(89, 75%, 20%);
    --primary-900: hsl(89, 73%, 10%);
    --primary-950: hsl(88, 76%, 5%);

    --secondary-50: hsl(164, 76%, 95%);
    --secondary-100: hsl(167, 73%, 90%);
    --secondary-200: hsl(166, 75%, 80%);
    --secondary-300: hsl(166, 74%, 70%);
    --secondary-400: hsl(166, 74%, 60%);
    --secondary-500: hsl(166, 74%, 50%);
    --secondary-600: hsl(166, 74%, 40%);
    --secondary-700: hsl(166, 74%, 30%);
    --secondary-800: hsl(166, 75%, 20%);
    --secondary-900: hsl(167, 73%, 10%);
    --secondary-950: hsl(167, 76%, 5%);

    --accent-50: hsl(186, 76%, 95%);
    --accent-100: hsl(185, 73%, 90%);
    --accent-200: hsl(186, 75%, 80%);
    --accent-300: hsl(186, 74%, 70%);
    --accent-400: hsl(186, 74%, 60%);
    --accent-500: hsl(186, 74%, 50%);
    --accent-600: hsl(186, 74%, 40%);
    --accent-700: hsl(186, 74%, 30%);
    --accent-800: hsl(186, 75%, 20%);
    --accent-900: hsl(185, 73%, 10%);
    --accent-950: hsl(186, 76%, 5%);


}



html {
    background-color: var(--background);
    color: var(--text);
    font-family: Raleway;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

.sec1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#foto_perfil {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    border: 5px solid var(--text);
}


.sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sobre > div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    overflow: scroll;
}

.sobre > div > div {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 40%;
    padding: 2%;
    border: 2px solid white;
    border-radius: 5%;
    font-size: large;
}
