@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Syne+Mono&display=swap');
 

:root {
    color-scheme: light;
    --text: #0E103D;
    --background: #A6E1FA;
    --primary: #FEC601;
    --secondary: hsl(166, 74%, 31%);
    --accent: #EA7317;
    --offwhite: #FFFCFF;
}

* {
    overflow: auto;
}

html {
    background-color: var(--background);
    color: var(--text);
    font-family: Raleway;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #2364AA;
}

.titulo {
    display: flex;
    align-items: center;
    padding: 0 1em 0 1em;
}

.header-direita {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 1em 0 1em;
    
}

.header-direita > nav * {
    padding: 0 10px 0 10px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

button {
    background-color: var(--primary);
    border-radius: 50vmax;
}


.sec1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#foto_perfil {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    border: 5px solid var(--accent);
}


.sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sobre > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.sobre > div > div {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    min-width: 400px;
    width: 40%;
    padding: 2%;
    border: 2px solid var(--offwhite);
    border-radius: 5%;
    font-size: large;
}
