@import url('/public/css/style.css');

html {
    overflow: scroll; 
}

h1 {
    font-size: 4rem;
}

/* p {
    font-size: 1.5rem;
} */

button {
    font: var(--accent-font);
    /* font-size: 1.5rem; */
    color: var(--offwhite);

    padding: 2%;
    border: 0;
    background: none;
}


/*
----------------
--    MAIN    --
----------------
*/


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 280px;
    padding: 180px 10% 280px 10%;
}

main > section {
    border: 2px solid rgba(47, 213, 255, 0.563);
    flex-direction: column;
    align-content: center;
    justify-content: center;
}


/* ----- SEÇÃO 1: INTRO ----- */

#hero-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    /* border: 1px solid red; */
}

#hero-section > div {
    display: flex;
    flex-direction: column;
    gap: 10%;
}

#hero-section .title {
    /* font-size: 7rem; */
    width: 100%;
    font-width: inherit;
    font-weight: bold;
}

#intro-text {
    display: flex;
    flex-direction: column;
}

#intro-text > p {
    filter: drop-shadow(0 0 4px var(--accent-50));
    color: var(--primary);
}

#call-to-action {
    display: flex;
    gap: 2%;
}
#call-to-action > button {
    padding-left: 0%;
}

#hero-section img {
    width: 36%;
    height: min-content;
}

/* ----- SEÇÃO 2: SOBRE ----- */

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10%;
    width: 100%;
}

#about .content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 5%;
}

#about .content img {
    width: 300px;
    height: max-content;
    /* background-image: linear-gradient(-45deg,var(--primary), var(--accent), var(--secondary)); */
    border-radius: 12px;
}

#about .text {
    display: flex;
    flex-direction: column;
    justify-items: baseline;
    text-align: justify;
    max-width: 45ch;
}

/* ----- SEÇÃO 3: PROJETOS ----- */

#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;

    width: 100%;
}

#projects .content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#project-description {
    color: var(--primary-50);
    font-style: italic;
}

/* ----- SEÇÃO 4: CONTATOS ----- */

#contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 180px;
    width: 100%;
}

#links {
    display: flex;
    flex-flow: row nowrap;
    
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 4%;
}

#links div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#links a {
    display: flex;
    width: fit-content;
    /* flex-wrap: wrap; */
    align-items: center;
    /* filter: drop-shadow(0 0 4px var(--accent)); */
}

a > p {
    font-style: italic;
}

.icon {
    box-sizing: content-box;
    width: 40px;
    margin-right: 10px;
    padding: 5px;
}

/* ----- FIM DA MAIN ----- */


/*
----------------
--   FOOTER   --
----------------
*/

footer {
    display: flex;

    align-items: center;
    justify-content: space-evenly;
    
    background-color: var(--primary);
    
    padding: 50px 0 50px 0;
    margin: 0;
}

footer > * {
    color: var(--background);

}


/* ------ MOBILE ----------- */

@media screen and (max-width:800px) {
    #hero-section{
        flex-direction: column;
        align-items: center;
        gap: 10%;
    }
    #hero-section img {
        width: 80%;
    }
    #hero-section > div {
        gap: 40px;
    }
    #intro-text {
        align-items: center;
    }
    #call-to-action {
        justify-content: space-between;
    }


    #about .content {
        flex-direction: column;
        align-items: center;
    }
    #about .content img {
        width: 80%;
    }

    #contacts {
        width: fit-content;
        gap: 50px;
    }
    #links {
        flex-direction: column;
        align-items: baseline;
        gap: 30px;
    }
    #links div {
        /* align-items: center; */
        gap: 30px;
    }
}