@import url('/public/css/style.css');

html {
    overflow: scroll; 
}

h1 {
    font-size: 4rem;
}


/*
----------------
--    MAIN    --
----------------
*/


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 280px;
    padding: 180px 0 280px 0;
}

main > section {
    border: 2px solid rgba(47, 213, 255, 0.563);
    flex-direction: column;
    align-content: center;
    justify-content: center;
}


/* ----- SEÇÃO 1: INTRO ----- */

#hero-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;

    /* border: 1px solid red; */
}


#title {
    font-size: 4rem;
    font-weight: bold;
}

#hero-section p {
    font-style: italic;
    filter: drop-shadow(0 0 4px var(--accent-50));
    color: var(--primary);
}

#hero-section > img {
    width: 250px;
    height: 300px;
}

/* ----- SEÇÃO 2: SOBRE ----- */

#about {
    display: flex;
    gap: 40px;
}

#about > div {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    gap: 80px;
}

#about > div > img {
    width: 300px;
    height: 400px;
    background-image: linear-gradient(-45deg,var(--primary), var(--accent), var(--secondary));
    border-radius: 12px;
}

#about_text {
    display: flex;
    flex-direction: column;
    justify-items: baseline;
    text-align: justify;
    width: 400px;
}

/* ----- SEÇÃO 3: PROJETOS ----- */

#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

/* ----- SEÇÃO 4: CONTATOS ----- */

#contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 120px;
    width: 100%;
}

#links {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

#links > a {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    filter: drop-shadow(0 0 4px var(--accent));
}

a > p {
    font-style: italic;
}

.icon {
    box-sizing: content-box;
    width: 40px;
    margin-right: 10px;
    padding: 5px;
}

/* ----- FIM DA MAIN ----- */


/*
----------------
--   FOOTER   --
----------------
*/

footer {
    display: flex;

    align-items: center;
    justify-content: space-evenly;
    
    background-color: var(--primary);
    
    padding: 50px 0 50px 0;
    margin: 0;
}

footer > * {
    color: var(--background);

}
