@import url('./style.css');

html {
    overflow: scroll; 
}

h1 {
    font-size: 4rem;
}


button {
    font: var(--accent-font);
    /* font-size: 1.5rem; */
    color: var(--offwhite);

    padding: 2%;
    border: 0;
    background: none;
}

/* ---------colors----------- */

body {
    background-image: var(--bg-linear-grad);
}

#hero-section {
    background-image: linear-gradient(var(--bg-home) 80%, var(--bg-about));
}
#hero-section * {
    color: var(--text-home);
}
#about {
    /* background-image: linear-gradient(#ffffff, #ffddff00); */
    background-image: linear-gradient(var(--bg-about) 80%, var(--bg-projects));
}
#about * {
    color: var(--text-about);
}
#projects {
    background-image: linear-gradient(var(--bg-projects), var(--bg-projects));
}
#projects * {
    color: var(--text-projects);
}
#contacts {
    background-image: linear-gradient(var(--bg-projects), var(--bg-contacts) 80%);
}
#contacts * {
    color: var(--text-contacts);
}

#github img {
    filter: brightness(100);
}

/*
----------------
--    MAIN    --
----------------
*/


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* gap: 280px; */
    /* padding: 180px 10% 280px 10%; */
}

main > section {
    /* border: 2px solid rgba(47, 213, 255, 0.563); */
    flex-direction: column;
    align-content: center;
    justify-content: center;
    
    padding: 20% 10%;
    width: 100%;
    height: 100%;
    /* margin: 10%; */
}


/* ----- SEÇÃO 1: INTRO ----- */

#hero-section {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* align-items: center; */
    /* flex-wrap: wrap; */
    
    gap: 5%;   
}

#hero-section .content {
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    gap: 10%;
    width: fit-content;
}

#hero-section .title {
    /* font-size: 7rem; */
    width: fit-content;
    /* font-width: inherit; */
    font-weight: bold;
    text-wrap: nowrap;
}

#intro-text {
    display: flex;
    flex-direction: column;
}

#intro-text p {
    /* filter: drop-shadow(0 0 4px var(--accent-50)); */
    color: var(--primary);
}

#call-to-action {
    display: flex;
    gap: 5%;
    align-items: center;
}
#call-to-action button {
    padding: 5%;
    padding-left: 0;
    text-wrap-mode: nowrap;
    font-weight: 600;
}

#hero-section img {
    /* width: clamp(200px, 35%, 50%); */
    width: 100%;
    height: min-content;
}

#hero-section .photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

    /* height: inherit; */
    /* width: 40%; */
    min-width: 250px;
    width: fit-content;
    max-width: 400px;
    
    /* border: 1px solid red; */
}

#hero-section #name {
    font-style: italic;
    color: var(--primary-50);
    width: max-content;
}

/* ----- SEÇÃO 2: SOBRE ----- */

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10%;
}

#about .title {
    text-align: center;
}

#about .content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 5%;
}

#about .content img {
    width: 300px;
    height: max-content;
    /* background-image: linear-gradient(-45deg,var(--primary), var(--accent), var(--secondary)); */
    border-radius: 12px;
}

#about .text {
    display: flex;
    flex-direction: column;
    justify-items: baseline;
    text-align: justify;
    max-width: 32ch;
}

/* ----- SEÇÃO 3: PROJETOS ----- */

#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

#projects .content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#project-description {
    color: var(--primary-50);
    font-style: italic;
}

/* ----- SEÇÃO 4: CONTATOS ----- */

#contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 180px;
}

#links {
    display: flex;
    flex-flow: row nowrap;
    
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 4%;
}

#links div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#links a {
    display: flex;
    width: fit-content;
    /* flex-wrap: wrap; */
    align-items: center;
    /* filter: drop-shadow(0 0 4px var(--primary)); */
}

#links a > p {
    font-style: italic;
}

.icon {
    box-sizing: content-box;
    width: 40px;
    margin-right: 10px;
    padding: 5px;
}

#column2 a {
    cursor: default;
}

/* ----- FIM DA MAIN ----- */


/*
----------------
--   FOOTER   --
----------------
*/

footer {
    display: flex;

    align-items: center;
    justify-content: space-evenly;
    
    background-color: var(--bg-footer);
    
    padding: 50px 0 50px 0;
    margin: 0;
}

footer > p * {
    color: var(--text-footer);
}

footer #repo {
    text-decoration: underline;
}

footer #disclaimer {
    font-weight: 600;
}


/* ------ MOBILE ----------- */

@media screen and (max-width:830px) {
    #hero-section {
        flex-wrap: wrap;
    }
}

@media screen and (max-width:720px) {
    #hero-section{
        /* flex-direction: column; */
        align-items: center;
        gap: 32px;
    }
    #hero-section img {
        width: 80%;
    }
    #hero-section .title {
        text-wrap: wrap;
    }
    #hero-section .content {
        gap: 40px;
    }
    #intro-text {
        align-items: center;
    }
    #call-to-action {
        justify-content: space-around;
    }


    #about {
        gap: 38px;
    }
    #about .content {
        flex-direction: column;
        align-items: center;
    }
    #about .content img {
        width: 80%;
    }


    #contacts {
        gap: 50px;
    }
    #links {
        width: fit-content;
        flex-direction: column;
        align-items: baseline;
        gap: 30px;
    }
    #links div {
        /* align-items: center; */
        gap: 30px;
    }

    footer {
        flex-direction: column-reverse;
        gap:50px;
    }
}


@media screen and (max-width:510px) {
    #hero-section .title {
        text-align: center;
    }

}