@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&family=Marcellus&family=Marcellus+SC&display=swap');

/* :root {
    color-scheme: light;
    --text: #03020d;
    --background: #f4f4fd;
    --primary: #4338de;
    --primary-50: #4338de80;
    --secondary: #c37fea;
    --accent: #d058e3;
    --accent-50: #d058e380;
    --offwhite: #E1F2FE;
} */

:root {
    /* color-scheme: dark; */
    
    --bg-home: #020014;
    --bg-about: #140000;
    --bg-projects: #000603;
    --bg-contacts: #0F0014;
    --bg-footer: #03000D;

    /* --bg-linear-grad: linear-gradient(180deg, var(--bg-home) 0%, var(--bg-about) 38.22%, var(--bg-projects) 71.82%, var(--bg-contacts) 95.29%); */
    /* --bg-linear-grad: linear-gradient(180deg, var(--bg-home), var(--bg-about), var(--bg-projects), var(--bg-contacts)); */

    --accent-red: #FF0105;
    --accent-yellow: #FFBB01;
    --accent-green: #23E34C;
    --accent-blue: #018DFF;
    --accent-violet: #4101FF;
    --accent-purple: #78029F;

    --white: #ffffff;
    
    --text-home: #FFEBFC;
    --text-about: #FFEBEB;
    --text-projects: #EFFFEB;
    --text-contacts: #E5D8FF;
    --text-footer: #FFF2F2;

    --background: #05121e;
    
    --primary: #8cc6ee;
    --primary-50: #8cc7ee80;
    --secondary: #381799;
    --secondary-50: #38179980;

    --offwhite: #feefe1;
    
}

:root {
    --title-font: "Cormorant SC", serif;
    --text-font: "Marcellus", serif;
    --accent-font: "Marcellus SC", serif;
}


*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--text-font);
    color: var(--white);
}

h1, h2, h3 {
    font-family: var(--title-font);
    font-weight: 600;
}

body {
    background-color: var(--background);
    width: 100%;
    min-height: 100%;
}

button:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    cursor: pointer;
}
